/* Login.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%; 
    overflow: hidden; 
}
.login-container {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://ik.imagekit.io/m9qnay09g/p1.jpg?updatedAt=1734771761231'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    width: 100%;
    max-width: 400px;
    padding: 20px; 
    
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.767); 
    backdrop-filter: blur(8px); 
    box-sizing: border-box; 
}

.login-form input {
    width: 100%; 
    padding: 12px 15px; 
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
    transition: border-color 0.3s ease; 
    background-color: rgba(255, 255, 255, 0.9); 
}

.login-form input:focus {
    border-color: #007bff; 
    outline: none; 
}

.login-form button {
    padding: 12px 15px; 
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.login-form button:hover {
    background-color: #0056b3; 
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}
